
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-xl-7">
      <form
        #resetPasswordForm="ngForm"
        method="POST"
        class="register-form ajax-contact"
      >
        <h5 class="form-title">Reset Password</h5>
        <div class="row">
          <div class="form-group col-md-12">
            <label><i class="far fa-eye-slash"></i> New Password</label>
            <input
              type="password"
              class="form-control"
              name="newPassword"
              #name="ngModel"
              [(ngModel)]="resetPasswordModel.newPassword"
              placeholder="new password"
            />
          </div>

         
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label><i class="far fa-eye-slash"></i> Confirm Password</label>
            <input
              type="password"
              class="form-control"
              name="confrimPassword"
              #name="ngModel"
              [(ngModel)]="resetPasswordModel.confrimPassword"
              placeholder="confirm password"
            />
          </div>

          <div class="form-btn col-12 text-center">
            <button class="th-btn black-btn-2 w-100" (click)="resetUserPassword()">
           Reset Password
            </button>
          </div>
        </div>
        <p class="form-messages mb-0 mt-3"></p>
      </form>
    </div>
  </div>
</div>
