<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="card">
            <div class="card-header">
              Reset Password
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label for="resetCode" class="form-label">Reset Code</label>
                <input type="number" 
                name="resetCode"
                #resetcode="ngModel"
                [(ngModel)]="resetPasswordModel.resetCode"
                class="form-control" id="resetCode" placeholder="Enter reset code">
              </div>
              <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password"
                name="newPassword"
                #newpassword="ngModel"
                [(ngModel)]="resetPasswordModel.newPassword" class="form-control" id="newPassword" placeholder="Enter new password">
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password"
                name="confirmpassword"
                #confirmpassword="ngModel"
                [(ngModel)]="resetPasswordModel.confrimPassword"  class="form-control" id="confirmPassword" placeholder="Confirm new password">
              </div>
              <button type="submit" class="btn btn-primary" (click)="resetUserPassword()">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  