
<div class="app-inner">
  <div class="container">
    <div class="card custom-card overflow-auto">
      <div class="card-body font-manrope">
        <h4 class="card-title text-capitalize fs-5 mb-3">Academy List</h4>
        <div class="row">
          <div class="col-12">
            <div
              id="order-listing_wrapper"
              class="dataTables_wrapper dt-bootstrap4 no-footer"
            >
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <button class="btn btn-success bg-gradient" routerLink="/admin/register-academy"><i class="fas fa-plus mr-2"></i> Register Academy</button>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="order-listing_filter" class="dataTables_filter">
                    <label>
                      <input
                        type="search"
                        [(ngModel)]="searchText"
                        (input)="filterAcademies($event)"
                        class="form-control"
                        placeholder="Search academies"
                        aria-controls="order-listing"
                      />
                    </label>
                  </div>
                </div>
              </div>
              <table
                id="order-listing"
                class="table dataTable no-footer"
                aria-describedby="order-listing_info"
              >
                <thead>
                  <tr>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Order #: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                      Admin
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Customer: activate to sort column ascending"
                      style="width: 91.9375px"
                    >
                      Academy Name
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                   Address
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Phone Number
                    </th>
                    <th
                    rowspan="1"
                    colspan="1"
                    aria-label="Ship to: activate to sort column ascending"
                    style="width: 75.0125px"
                  >
                 Email
                  </th>
                  <th
                  rowspan="1"
                  colspan="1"
                  aria-label="Ship to: activate to sort column ascending"
                  style="width: 75.0125px"
                >
               Type
                </th>
                <th
                rowspan="1"
                colspan="1"
                aria-label="Ship to: activate to sort column ascending"
                style="width: 75.0125px"
              >
             Country
              </th>
              <th
              rowspan="1"
              colspan="1"
              aria-label="Ship to: activate to sort column ascending"
              style="width: 75.0125px"
            >
           IsActive
            </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let academy of filteredAcademyList">
                    <td>{{ academy.academyAdmin }}</td>
                    <td>{{ academy.academyName }}</td>
                    <td>{{ academy.address }}</td>
                    <td>{{ academy.phoneNumber }}</td>
                    <td>{{ academy.email }}</td>
                    <td>{{ academy.academyType }}</td>
                    <td>{{ academy.countryName }}</td>
                    <td>
                      <span [ngClass]="academy.isActive ? 'chip chip-success' : 'chip chip-danger'">
                        {{
                          academy.isActive
                        }}</span
                      >
                    </td>
                    <td>
                      <div class="d-inline-block dropdown">
                        <button
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          title="Row Options"
                          class="dropdown-toggle btn btn-success after-none squared-btn"
                        >
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div
                          tabindex="-1"
                          role="menu"
                          aria-hidden="true"
                          class="dropdown-menu dropdown-menu-left"
                        >
                          <ul class="nav flex-column">
                          
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="[
                                  '/admin/update-academy',
                                  academy.id
                                ]"
                              >
                                <i class="nav-link-icon fas fa-pen"></i>
                                <span> Edit</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link dangered fw-semibold"
                                (click)="deleteAcademy(academy.id)"
                                
                              >
                                <i
                                  class="nav-link-icon fas fa-trash dangered"
                                ></i>
                                <span> Delete</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">
                    Showing {{ (currentPage - 1) * itemsPerPage + 1 }} to
                    {{ currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage }}
                    of {{ totalItems }} enquiries
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate">
                    <ul class="pagination">
                      <!-- Previous Button -->
                      <li class="paginate_button page-item previous" [class.disabled]="currentPage === 1">
                        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1" class="page-link">
                          Previous
                        </button>
                      </li>
                      <!-- Page Numbers -->
                      <li *ngFor="let page of pages" class="paginate_button page-item" [class.active]="currentPage === page">
                        <button (click)="goToPage(page)" class="page-link">
                          {{ page }}
                        </button>
                      </li>
                      <!-- Next Button -->
                      <li class="paginate_button page-item next" [class.disabled]="currentPage === pages.length">
                        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === pages.length" class="page-link">
                          Next
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

