        * {
            margin: 0;
            padding: 0;
        }

        #hero {
            margin-top: 0%;
        }

        .image-container {
            display: flex;
            width: 100%;
            height: 500px; 
        }

        .image-wrapper {
            overflow: hidden;
        }

        .image-wrapper:first-child {
            flex: 0 0 60%;
        }

        .image-wrapper:last-child {
            flex: 0 0 40%; 
            object-fit: fill;
        }

        .image-wrapper img {
            width: 100%;
            height: 100%;
        }

        .image-wrapper.contain img {
            object-fit: contain; 
        }

        @media (max-width: 768px) {
            .image-container {
                flex-direction: column;
                height: auto;
            }
            
            .image-wrapper:first-child,
            .image-wrapper:last-child {
                flex: none;
                height: 250px;
            }
        }