.error-message {
    color: #ff6347; /* Tomato color */
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
  }
  .error-message div {
    margin-left: 10px; /* Adds a bit of indentation */
  }
  :host{
    width: 100%;
}
