<div class="container my-5">
  <div class="row justify-content-center">
    <div>
      <form
        #academyRegistrationForm="ngForm"
        method="PUT"
        class="register-form ajax-contact"
      >
        <h5 class="form-title">Update Academy</h5>
        <div class="row">
          <!-- Admin Name -->
          <div class="form-group col-md-6">
            <label><i class="far fa-user"></i> Admin Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              #name="ngModel"
              [(ngModel)]="academy.academyAdmin"
              placeholder=""
              required
            />
            <div *ngIf="name.errors?.['required']" class="text-danger">
              Admin Name is required.
            </div>
          </div>

          <!-- Academy Name -->
          <div class="form-group col-md-6">
            <label><i class="far fa-user"></i> Academy Name</label>
            <input
              type="text"
              class="form-control"
              name="academyName"
              #academyName="ngModel"
              [(ngModel)]="academy.academyName"
              placeholder=""
              required
            />
            <div *ngIf="academyName.errors?.['required']" class="text-danger">
              Academy Name is required.
            </div>
          </div>

          <!-- Email address -->
          <div class="form-group col-md-6">
            <label><i class="far fa-envelope"></i> Email address</label>
            <input
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              [(ngModel)]="academy.email"
              placeholder=""
              required
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            />
            <div *ngIf="email.errors?.['required']" class="text-danger">
              Email address is required.
            </div>
            <div *ngIf="email.errors?.['pattern']" class="text-danger">
              Invalid email format.
            </div>
          </div>

          <!-- Phone Number -->
          <div class="form-group col-md-6">
            <label><i class="fas fa-phone"></i> Phone Number</label>
            <input
              type="text"
              class="form-control"
              name="phoneNumber"
              #phoneNumber="ngModel"
              [(ngModel)]="academy.phoneNumber"
              placeholder=""
              required
              pattern="[0-9]{10}"
            />
            <div *ngIf="phoneNumber.errors?.['required']" class="text-danger">
              Phone Number is required.
            </div>
            <div *ngIf="phoneNumber.errors?.['pattern']" class="text-danger">
              Phone Number must be 10 digits.
            </div>
          </div>

          <!-- Address -->
          <div class="form-group col-md-6">
            <label><i class="fas fa-map-marker-alt"></i> Address</label>
            <input
              type="text"
              class="form-control"
              name="address"
              #address="ngModel"
              [(ngModel)]="academy.address"
              placeholder=""
              required
            />
            <div *ngIf="address.errors?.['required']" class="text-danger">
              Address is required.
            </div>
          </div>

          <!-- Postal Code -->
          <div class="form-group col-md-6">
            <label><i class="fas fa-map-pin"></i> Postal Code</label>
            <input
              type="number"
              class="form-control"
              name="postalCode"
              #postalCode="ngModel"
              [(ngModel)]="academy.postalCode"
              placeholder=""
              required
              pattern="[0-9]{6}"
            />
            <div *ngIf="postalCode.errors?.['required']" class="text-danger">
              Postal Code is required.
            </div>
            <div *ngIf="postalCode.errors?.['pattern']" class="text-danger">
              Postal Code must be 6 digits.
            </div>
          </div>

          <!-- Academy Type -->
          <div class="form-group col-md-6">
            <label><i class="fas fa-school"></i> Academy Type</label>
            <select
              class="form-control"
              name="academyTypeId"
              #academyTypeId="ngModel"
              [(ngModel)]="academy.academyTypeId"
              required
            >
              <option value="">Select Academy Type</option>
              <option
                *ngFor="let academyType of academyTypeList"
                [value]="academyType.id"
              >
                {{ academyType.academyTypeName }}
              </option>
            </select>
            <div *ngIf="academyTypeId.errors?.['required']" class="text-danger">
              Academy Type is required.
            </div>
          </div>

          <!-- Country -->
          <div class="form-group col-md-6">
            <label><i class="fas fa-globe"></i> Country</label>
            <select
              class="form-control"
              name="countryId"
              #countryId="ngModel"
              [(ngModel)]="academy.countryId"
              required
            >
              <option value="">Select Country</option>
              <option *ngFor="let country of countries" [value]="country.id">
                {{ country.countryName }}
              </option>
            </select>
            <div *ngIf="countryId.errors?.['required']" class="text-danger">
              Country is required.
            </div>
          </div>

          <!-- State -->
          <div class="form-group col-md-6">
            <label><i class="fas fa-flag"></i> State</label>
            <select
              class="form-control"
              name="stateId"
              #stateId="ngModel"
              [(ngModel)]="academy.stateId"
              required
            >
              <option value="">Select state</option>
              <option *ngFor="let state of states" [value]="state.id">
                {{ state.stateName }}
              </option>
            </select>
            <div *ngIf="stateId.errors?.['required']" class="text-danger">
              State is required.
            </div>
          </div>

          <!-- City -->
          <div class="form-group col-md-6">
            <label><i class="fas fa-city"></i> City</label>
            <select
              class="form-control"
              name="cityId"
              #cityId="ngModel"
              [(ngModel)]="academy.cityId"
              required
            >
              <option value="">Select city</option>
              <option *ngFor="let city of cities" [value]="city.id">
                {{ city.cityName }}
              </option>
            </select>
            <div *ngIf="cityId.errors?.['required']" class="text-danger">
              City is required.
            </div>
          </div>

          <!-- Form Button -->
          <div class="form-btn row p-0 col-12 text-center">
            <div class="col-md-6 ps-4 p-0">
              <button
                class="th-btn mb-2 md-mb-0 black-btn-1 w-full"
                [disabled]="academyRegistrationForm.invalid"
                (click)="updateAcademy()"
              >
                <app-spinner *ngIf="loadSpinner"></app-spinner>
                Update Now
              </button>
            </div>
            <div class="col-md-6 ps-4 p-0">
              <button type="reset" class="th-btn black-btn-2 w-full">
                Reset Form
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
