<div class="app-inner">
  <div class="container">
    <div class="card custom-card overflow-auto">
      <div class="card-body font-manrope">
        <h4 class="card-title text-capitalize fs-5 mb-3">CourseResource List</h4>
        <div class="row">
          <div class="col-12">
            <div id="resource-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <button class="btn btn-success bg-gradient" [routerLink]="['/academy/create-course-resource',courseId]"><i class="fas fa-plus mr-2"></i> Add Resource</button>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="resource-listing_filter" class="dataTables_filter">
                    <label>
                      <input
                        type="search"
                        
                        class="form-control"
                        placeholder="Search resources"
                        aria-controls="resource-listing"
                      />
                    </label>
                  </div>
                </div>
              </div>

              <table
                id="resource-listing"
                class="table dataTable no-footer"
                aria-describedby="resource-listing_info"
              >
                <thead>
                  <tr>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Name: activate to sort column descending"
                      style="width: 100px;"
                    >
                      Name
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Description: activate to sort column descending"
                      style="width: 200px;"
                    >
                      Description
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Type: activate to sort column descending"
                      style="width: 100px;"
                    >
                      Resource
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="IsActive: activate to sort column descending"
                      style="width: 100px;"
                    >
                      IsActive
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Actions: activate to sort column descending"
                      style="width: 100px;"
                    >
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let courseResource of courseResourceList">
                    <td>{{ courseResource.name }}</td>
                    <td>{{ courseResource.description }}</td>
                    <td>
                      <ng-container [ngSwitch]="courseResource.type">
                        <a *ngSwitchCase="5" [href]="apiBaseUrl + courseResource.filePath" download>
                          <img [src]="apiBaseUrl + courseResource.filePath" alt="" style="width: 100px; height: auto; border-radius: 10px;" title="Open/Download image">
                        </a>
                        <a *ngSwitchCase="2" [href]="apiBaseUrl + courseResource.filePath" target="_blank" data-bs-toggle="tooltip" title="Open/Download PDF">
                          <i class="fa fa-file-pdf-o" style="font-size:58px;color:red"></i>
                        </a>
                        <a *ngSwitchCase="3" [href]="apiBaseUrl + courseResource.filePath" target="_blank">View Document</a>
                        <video *ngSwitchCase="4" controls style="width: 100px;">
                          <source [src]="apiBaseUrl + courseResource.filePath" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                        <iframe *ngSwitchCase="1" [src]="courseResource.filePath" frameborder="0" allowfullscreen style="width: 100px; height: auto;"></iframe>
                        <span *ngSwitchDefault>Unsupported resource type</span>
                      </ng-container>
                    </td>
                    <td>
                      <span [ngClass]="courseResource.isActive ? 'chip chip-success' : 'chip chip-danger'">
                        {{ courseResource.isActive }}
                      </span>
                    </td>
                    <td>
                      <div class="d-inline-block dropdown">
                        <button
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          title="Row Options"
                          class="dropdown-toggle btn btn-success after-none squared-btn"
                        >
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div
                          tabindex="-1"
                          role="menu"
                          aria-hidden="true"
                          class="dropdown-menu dropdown-menu-left"
                        >
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                
                              >
                                <i class="nav-link-icon fa fa-eye"></i>
                                <span> view</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="['/academy/update-course-resource', courseResource.id, courseId]"
                              >
                                <i class="nav-link-icon fas fa-pen"></i>
                                <span> Edit</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link dangered fw-semibold"
                                (click)="deleteCourseResource(courseResource.id)"
                              >
                                <i class="nav-link-icon fas fa-trash dangered"></i>
                                <span> Delete</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-12 col-md-7">
                  <div
                    class="dataTables_paginate paging_simple_numbers"
                    id="resource-listing_paginate"
                  >
                    <ul class="pagination">
                      <li class="paginate_button page-item previous disabled" id="resource-listing_previous">
                        <a
                          aria-controls="resource-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="previous"
                          tabindex="-1"
                          class="page-link"
                          >Previous</a
                        >
                      </li>
                      <li class="paginate_button page-item active">
                        <a
                          href="#"
                          aria-controls="resource-listing"
                          role="link"
                          aria-current="page"
                          data-dt-idx="0"
                          tabindex="0"
                          class="page-link"
                          >1</a
                        >
                      </li>
                      <li class="paginate_button page-item next disabled" id="resource-listing_next">
                        <a
                          aria-controls="resource-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="next"
                          tabindex="-1"
                          class="page-link"
                          >Next</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
