<div class="container">
    <div class="row">
      <div class="col-12">
        <h2>CourseResource List</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Task Name</th>
              <th scope="col">Description</th>
              <th scope="col">Duration</th>
              <th scope="col">IsActive</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let courseResource of courseResourceList">
              <td>{{courseResource.name}}</td>
              <td>{{courseResource.description}}</td>
              <td>{{courseResource.type}}</td>
              <td>{{courseResource.isActive}}</td>
              <td>
              
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  