<div class="container">
    <div class="row">
      <div class="col-12">
        <h2>CourseResource List</h2>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search "
            [(ngModel)]="searchText"
            (input)="filterCourseResource()"
          />
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Type</th>
              <th scope="col">IsActive</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let courseResource of filteredCourseResourceList">
              <td>{{courseResource.name}}</td>
              <td>{{courseResource.description}}</td>
              <td>{{courseResource.type}}</td>
              <td>{{courseResource.isActive}}</td>
                <td>

<button type="button" class="btn btn-success" style="margin-right: 3px;" [routerLink]="['/academy/update-course-resource',courseResource.id,courseId]"><i class="fas fa-edit"></i>Edit</button>
                  <button type="button" class="btn btn-danger" (click)="deleteCourseResource(courseResource.id)"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  