<div class="col">
  <nav aria-label="breadcrumb" class="border-bottom pr-3 py-3 mb-3">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item" routerLink="/academy/dashboard">academy</li>
      <li class="breadcrumb-item " [routerLink]="['/academy/course-list']" title="course">{{courseResponse.name}}</li>
      <li class="breadcrumb-item " [routerLink]="['/academy/batch-list',courseId]" title="batch">{{courseRes.batchName}}</li>
      <li class="breadcrumb-item active" aria-current="page">Schedule-list</li>
    </ol>
  </nav>
</div>
<div class="container" *ngIf="showTable">
  <div class="card custom-card overflow-auto">
    <div class="card-body font-manrope">
      <h4 class="card-title text-capitalize fs-5 mb-3">Batch Schedule List</h4>
      <div class="row">
        <div class="col-12">
          <div id="batch-schedule-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <button class="btn btn-success bg-gradient" [routerLink]="['/academy/add-batch-schedule/',batchId,courseId]"><i class="fas fa-plus mr-2"></i> Add Schedule</button>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="batch-schedule-listing_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      [(ngModel)]="searchText"
                      (input)="filterBatchSchedule()"
                      class="form-control"
                      placeholder="Search batch schedules"
                      aria-controls="batch-schedule-listing"
                    />
                  </label>
                </div>
              </div>
            </div>

            <table id="batch-schedule-listing" class="table dataTable no-footer" aria-describedby="batch-schedule-listing_info" *ngIf="filterBatchSchedules.length > 0">
              <thead>
                <tr>
                  <th rowspan="1" colspan="1" aria-label="Content Name: activate to sort column ascending" style="width: 76.8375px">Content Name</th>
                  <th rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 76.8375px">Date</th>
                  <th rowspan="1" colspan="1" aria-label="Duration: activate to sort column ascending" style="width: 76.8375px">Duration</th>
                  <th rowspan="1" colspan="1" aria-label="IsActive: activate to sort column ascending" style="width: 76.8375px">IsActive</th>
                  <th rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 76.8375px">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let batchSchedule of displayedBatchScheduleList">
                  <td>{{ batchSchedule.contentName }}</td>
                  <td>{{ batchSchedule.date | date: 'shortDate' }}</td>
                  <td>{{ batchSchedule.durationInHours | number: '1.0-0' }} hours</td>
                  <td>
                    <span [ngClass]="batchSchedule.isActive ? 'chip chip-success' : 'chip chip-danger'">
                      {{ batchSchedule.isActive }}
                    </span>
                  </td>
                  <td>
                    <div class="d-inline-block dropdown">
                      <button
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        title="Row Options"
                        class="dropdown-toggle btn btn-success after-none squared-btn"
                      >
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-left">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link fw-semibold" [routerLink]="['/academy/update-batch-schedule', batchSchedule.id, batchId, courseId]">
                              <i class="nav-link-icon fas fa-pen"></i>
                              <span> Edit</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link dangered fw-semibold" (click)="deleteBatchSchedule(batchSchedule.id)">
                              <i class="nav-link-icon fas fa-trash dangered"></i>
                              <span> Delete</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="displayedBatchScheduleList.length === 0" class="text-center my-5 p-5 border rounded" style="background-color: #f8f9fa;">
              <i class="fas fa-exclamation-circle fa-3x text-muted mb-3"></i>
              <h4 class="text-muted">No data found</h4>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">
                  Showing {{ (currentPage - 1) * itemsPerPage + 1 }} to
                  {{ currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage }}
                  of {{ totalItems }} enquiries
                </div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate">
                  <ul class="pagination">
                    <!-- Previous Button -->
                    <li class="paginate_button page-item previous" [class.disabled]="currentPage === 1">
                      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1" class="page-link">
                        Previous
                      </button>
                    </li>
                    <!-- Page Numbers -->
                    <li *ngFor="let page of pages" class="paginate_button page-item" [class.active]="currentPage === page">
                      <button (click)="goToPage(page)" class="page-link">
                        {{ page }}
                      </button>
                    </li>
                    <!-- Next Button -->
                    <li class="paginate_button page-item next" [class.disabled]="currentPage === pages.length">
                      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === pages.length" class="page-link">
                        Next
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <app-spinner color="white" *ngIf="showSpinner"></app-spinner>
</div>
<app-no-content *ngIf="showNoContent"></app-no-content>