

<div class="app-inner" *ngIf="showTable">
  <div class="container">
    <div class="col">
      <nav aria-label="breadcrumb" class="border-bottom pr-3 py-3 mb-3">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item" routerLink="/admin/dashboard">admin</li>
          <li class="breadcrumb-item active" aria-current="page">academy-type-list</li>
        </ol>
      </nav>
    </div>
    <div class="card custom-card overflow-auto">
      <div class="card-body font-manrope">
        <h4 class="card-title text-capitalize fs-5 mb-3">Academy Types</h4>
        <div class="row">
          <div class="col-12">
            <div
              id="order-listing_wrapper"
              class="dataTables_wrapper dt-bootstrap4 no-footer"
            >
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <button class="btn btn-success bg-gradient" routerLink="/admin/create-academyType"><i class="fas fa-plus mr-2"></i> add type</button>
              </div>
              
            </div>
            
              <table
                id="order-listing"
                class="table dataTable no-footer"
                aria-describedby="order-listing_info"
              >
                <thead>
                  <tr>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Order #: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                      Name
                    </th>
                    <th
                    rowspan="1"
                    colspan="1"
                    aria-label="Order #: activate to sort column descending"
                    style="width: 76.8375px"
                  >
                    IsActive
                  </th>
                  <th
                  rowspan="1"
                  colspan="1"
                  aria-label="Order #: activate to sort column descending"
                  style="width: 76.8375px"
                >
                  Actions
                </th>
                  
                
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let academyType of academyTypeList">
                    <td>{{academyType.academyTypeName}}</td>
                    <td>
                      <span [ngClass]="academyType.isActive ? 'chip chip-success' : 'chip chip-danger'">
                        {{
                          academyType.isActive | isActive
                        }}</span
                      >
                    </td>
                    <td>
                      <div class="d-inline-block dropdown">
                        <button
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          title="Row Options"
                          class="dropdown-toggle btn btn-success after-none squared-btn"
                        >
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div
                          tabindex="-1"
                          role="menu"
                          aria-hidden="true"
                          class="dropdown-menu dropdown-menu-left"
                        >
                          <ul class="nav flex-column">
                          
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                              
                              >
                                <i class="nav-link-icon fas fa-pen"></i>
                                <span> Edit</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link dangered fw-semibold"
                                (click)="deleteType(academyType.id)"
                                
                              >
                                <i
                                  class="nav-link-icon fas fa-trash dangered"
                                ></i>
                                <span> Delete</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  
                  </tr>
                </tbody>
              </table>
              <div class="row">
             
                <div class="col-sm-12 col-md-7">
                  <div
                    class="dataTables_paginate paging_simple_numbers"
                    id="order-listing_paginate"
                  >
                    <ul class="pagination">
                      <li
                        class="paginate_button page-item previous disabled"
                        id="order-listing_previous"
                      >
                        <a
                          aria-controls="order-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="previous"
                          tabindex="-1"
                          class="page-link"
                          >Previous</a
                        >
                      </li>
                      <li class="paginate_button page-item active">
                        <a
                          href="#"
                          aria-controls="order-listing"
                          role="link"
                          aria-current="page"
                          data-dt-idx="0"
                          tabindex="0"
                          class="page-link"
                          >1</a
                        >
                      </li>
                      <li
                        class="paginate_button page-item next disabled"
                        id="order-listing_next"
                      >
                        <a
                          aria-controls="order-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="next"
                          tabindex="-1"
                          class="page-link"
                          >Next</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div>
  <app-spinner color="white" *ngIf="loadSpinner"></app-spinner>
  </div>