<div class="app-inner">
  <div class="container">
    <div class="card custom-card overflow-auto">
      <div class="card-body font-manrope">
        <h4 class="card-title text-capitalize fs-5 mb-3">Courses</h4>
        <div class="row">
          <div class="col-12">
            <div
              id="order-listing_wrapper"
              class="dataTables_wrapper dt-bootstrap4 no-footer"
            >
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <button
                    class="btn btn-success bg-gradient"
                    [routerLink]="['/academy/create-course']"
                  >
                    <i class="fas fa-plus mr-2"></i> Add Course
                  </button>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="order-listing_filter" class="dataTables_filter">
                    <label>
                      <input
                        type="search"
                        [(ngModel)]="searchText"
                        (input)="filterCourses()"
                        class="form-control"
                        placeholder="Search academies"
                        aria-controls="order-listing"
                      />
                    </label>
                  </div>
                </div>
              </div>
              <table
                id="order-listing"
                class="table dataTable no-footer"
                aria-describedby="order-listing_info"
              >
                <thead>
                  <tr>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Order #: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                      Name
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Customer: activate to sort column ascending"
                      style="width: 91.9375px"
                    >
                      Description
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Duration(Weeks)
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Fee
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Category
                    </th>

                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      IsActive
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let course of courseList">
                    <td>{{ course.name }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.durationInWeeks }}</td>
                    <td>{{ course.fee | currency:"₹" }}</td>
                    <td>{{ course.categoryName }}</td>
                    <td>
                      <span
                        [ngClass]="
                          course.isActive
                            ? 'chip chip-success'
                            : 'chip chip-danger'
                        "
                      >
                        {{ course.isActive }}</span
                      >
                    </td>
                    <td>
                      <div class="d-inline-block dropdown">
                        <button
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          title="Row Options"
                          class="dropdown-toggle btn btn-success after-none squared-btn"
                        >
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div
                          tabindex="-1"
                          role="menu"
                          aria-hidden="true"
                          class="dropdown-menu dropdown-menu-left"
                        >
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="[
                                  '/academy/create-course-content',
                                  course.id
                                ]"
                              >
                                <i class="nav-link-icon fas fa-pen"></i>
                                <span> Add Content</span>
                              </a>
                            </li>

                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="[
                                  '/academy/course-content-list',
                                  course.id
                                ]"
                              >
                                <i class="nav-link-icon fas fa-pen"></i>
                                <span> Contents</span>
                              </a>
                            </li>

                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="[
                                  '/academy/create-batch',
                                  course.id
                                ]"
                              >
                                <i class="nav-link-icon fas fa-boxes"></i>
                                <span> Add Batch</span>
                              </a>
                            </li>

                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="[
                                  '/academy/batch-list',
                                  course.id
                                ]"
                              >
                                <i class="nav-link-icon fas fa-boxes"></i>
                                <span> Batches</span>
                              </a>
                            </li>

                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="[
                                  '/academy/create-course-resource',
                                  course.id
                                ]"
                              >
                                <i class="nav-link-icon fas fa-file"></i>
                                <span> Add Resource</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="[
                                  '/academy/course-resource-list',
                                  course.id
                                ]"
                              >
                                <i class="nav-link-icon fa fa-upload"></i>
                                <span> Resources</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="[
                                  '/academy/update-course',
                                  course.id
                                ]"
                              >
                                <i class="nav-link-icon fas fa-pen"></i>
                                <span> Edit</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link dangered fw-semibold"
                                (click)="deleteCourse(course.id)"
                              >
                                <i
                                  class="nav-link-icon fas fa-trash dangered"
                                ></i>
                                <span> Delete</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div
                    class="dataTables_info"
                    id="order-listing_info"
                    role="status"
                    aria-live="polite"
                  >
                    Showing 1 to 10 of 10 entries
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div
                    class="dataTables_paginate paging_simple_numbers"
                    id="order-listing_paginate"
                  >
                    <ul class="pagination">
                      <li
                        class="paginate_button page-item previous disabled"
                        id="order-listing_previous"
                      >
                        <a
                          aria-controls="order-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="previous"
                          tabindex="-1"
                          class="page-link"
                          >Previous</a
                        >
                      </li>
                      <li class="paginate_button page-item active">
                        <a
                          href="#"
                          aria-controls="order-listing"
                          role="link"
                          aria-current="page"
                          data-dt-idx="0"
                          tabindex="0"
                          class="page-link"
                          >1</a
                        >
                      </li>
                      <li
                        class="paginate_button page-item next disabled"
                        id="order-listing_next"
                      >
                        <a
                          aria-controls="order-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="next"
                          tabindex="-1"
                          class="page-link"
                          >Next</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
