<div class="container">
   
  <div class="row">
    <div class="col-12">
      <h2>Course List</h2>
      <div class="col-sm-6">
          <a class="btn btn-success" routerLink="/academy/create-course" data-toggle="modal"> <span>Add Course</span></a>
          
        </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">DurationInWeeks</th>
            <th scope="col">Fee</th>
            <th scope="col">Category</th>
            <th scope="col">Academy Name</th>
            <th scope="col">IsActive</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courseList">
            <td>{{course.name}}</td>
            <td>{{course.description}}</td>
            <td>{{course.durationInWeeks}}</td>
            <td>{{course.fee}}</td>
             <td>{{course.categoryName}}</td>
            <td>{{course.academyName}}</td>
            <td>{{course.isActive }}</td>
            <td>
              <div class="card-body">
                <div class="page-title-actions">
                  <div class="d-inline-block dropdown">
                    <button
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      class="btn-shadow dropdown-toggle btn btn-info"
                    >
                      <span class="btn-icon-wrapper pr-2 opacity-7"> </span>
                      More
                    </button>
                    <div
                      tabindex="-1"
                      role="menu"
                      aria-hidden="true"
                      class="dropdown-menu dropdown-menu-left"
                    >
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" [routerLink]="['/academy/create-course-content',course.id]">
                            <i class="nav-link-lnr lnr-pencil"></i>
                            <span> Add content</span>
                       
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link"  [routerLink]="['/academy/course-content-list',course.id]">
                            <i class="nav-link-lnr lnr-pencil"></i>
                            <span> View content</span>
                           
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link"  [routerLink]="['/academy/create-batch',course.id]">
                            <i class="nav-link-lnr lnr-user"></i>
                            <span> add batch</span>
                           
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" [routerLink]="['/academy/batch-list',course.id]">
                            <i class="nav-link-lnr lnr-users"></i>
                            <span> view batches</span>
                           
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" [routerLink]="['/academy/create-course-resource',course.id]">
                            <i class="nav-link-lnr lnr-upload"></i>
                            <span> add resource</span>
                           
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
           <div>
              <button type="button" class="btn btn-success" style="margin-right: 3px;" [routerLink]="['/academy/update-course',course.id]"><i class="fas fa-edit"></i></button>
             <button type="button" class="btn btn-danger" (click)="deleteCourse(course.id)"><i class="far fa-trash-alt"></i></button>
            </div>
            </td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
</div>
