<div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Course List</h2>
        <div class="col-sm-6">
            <a  class="btn btn-success" routerLink="/academy/create-course" data-toggle="modal"> <span>Add Course</span></a>
          </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">DurationInWeeks</th>
              <th scope="col">Fee</th>
              <th scope="col">Category</th>
              <th scope="col">Academy Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courseList">
              <td>{{course.name}}</td>
              <td>{{course.description}}</td>
              <td>{{course.durationInWeeks}}</td>
              <td>{{course.fee}}</td>
               <td>{{course.categoryName}}</td>
              <td>{{course.academyName}}</td>
              
              <td>
                <button type="button" class="btn btn-success" style="margin-right: 3px;">
                  <i class="fas fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  