<section style="background-color: #eee;">
  <div class="container pt-2 pb-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="border-bottom pr-3 py-3 mb-3">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">admin</li>
            <li class="breadcrumb-item active" aria-current="page">profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img  src="{{apiBaseUrl+ filePath}}" class="rounded-circle img-fluid" style="width: 200px"  alt="avatar"
              class="rounded-circle img-fluid" style="width: 200px;">
            <h5 class="my-3"><p>{{ contactInfo.name }}</p></h5>
            <ng-container *ngIf="!filePath; else showUploadOption">
              <div class="custom-file mb-3">
                <input type="file" name="File" #fileUploadControl (change)="getFile($event)" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Upload Photo &nbsp;</label>
              </div>
              
            </ng-container>
            <ng-template #showUploadOption>
              <button class="btn btn-info custom-btn" style="position: relative; overflow: hidden;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                </svg>
                <input type="file" (change)="showFileInput($event)" style="position: absolute; top: 0; left: 0; opacity: 0; width: 100%; height: 100%;cursor: pointer;">
            </button>
            </ng-template>
          
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">{{contactInfo.name}}.com</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <p class="mb-0">{{contactInfo.name}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">{{contactInfo.name}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">{{contactInfo.name}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
              <div class="d-flex justify-content-end mb-2">
                <button type="button" class="btn btn-info custom-btn" (click)="toggleContactEditMode()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                  </svg>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-info ms-2"
                  (click)="saveContact()"
                  [hidden]="!isContactEditMode"
                >
                <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                </div>
                <div >
                  <div class="row" *ngIf="!isContactEditMode">
                    <div class="col-sm-3">
                      <p class="mb-0">Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ contactInfo.name }}</p>
                    </div>
                  </div>
                  <div class="row" *ngIf="isContactEditMode">
                    <div class="col-sm-3">
                      <p class="mb-0">Name</p>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" [(ngModel)]="contactModel.name" />
                    </div>
                  </div>
            <hr>
            <div class="row" *ngIf="!isContactEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ contactInfo.email }}</p>
              </div>
            </div>
            <div class="row" *ngIf="isContactEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="contactModel.email" />
              </div>
            </div>
            <hr>
            <div class="row" *ngIf="!isContactEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Phone Number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ contactInfo.phoneNumber }}</p>
              </div>
            </div>
            <div class="row" *ngIf="isContactEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Phone Number</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="contactModel.phoneNumber" />
              </div>
            </div>

          </div>
        </div>
        
      </div>
          <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex justify-content-end mb-2">
                <button type="button" class="btn btn-info custom-btn" (click)="toggleAddressEditMode()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                  </svg>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-info ms-2"
                  (click)="saveAddress()"
                  [hidden]="!isAddressEditMode"
                >
                <i class="fa fa-check" aria-hidden="true"></i>

                </button>
                </div>
                <div class="row" *ngIf="!isAddressEditMode">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ addressModel.address }}</p>
                  </div>
                </div>
                <div class="row" *ngIf="isAddressEditMode">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="addressModel.address" />
                  </div>
                </div>
              <hr>
              <div class="row" *ngIf="!isAddressEditMode">
                <div class="col-sm-3">
                  <p class="mb-0">Postal Code</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ addressModel.postalCode }}</p>
                </div>
              </div>
              <div class="row" *ngIf="isAddressEditMode">
                <div class="col-sm-3">
                  <p class="mb-0">Postal Code</p>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="addressModel.postalCode" />
                </div>
              </div>
            <hr>
            <div class="row" *ngIf="!isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ addressModel.countryName }}</p>
              </div>
            </div>
            <div class="row" *ngIf="isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-sm-9">
                <span>
                  <select name="countryId" id="" [(ngModel)]="addressModel.countryId">
                    <option value=""> select Country</option>
                    <option *ngFor="let country of countries" [value]="country.id">{{country.countryName}}</option>
                  </select>
                </span>
              </div>
            </div>
            <hr>
            <div class="row" *ngIf="!isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">State</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ addressModel.stateName }}</p>
              </div>
            </div>
            <div class="row" *ngIf="isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">State</p>
              </div>
              <div class="col-sm-9">
                <span>
                  <select name="stateId" id="" [(ngModel)]="addressModel.stateId">
                    <option value=""> select State</option>
                    <option *ngFor="let state of states" [value]="state.id">{{state.stateName}}</option>
                  </select>
                </span>
              </div>
            </div>
            <hr>
            <div class="row" *ngIf="!isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ addressModel.cityName }}</p>
              </div>
            </div>
            <div class="row" *ngIf="isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <span>
                  <select name="cityId" id="" [(ngModel)]="addressModel.cityId">
                    <option value=""> select City</option>
                    <option *ngFor="let city of cities" [value]="city.id">{{city.cityName}}</option>
                  </select>
                </span>
              </div>
            </div>
        </div>
        </div>
      </div>
      
    </div>
  </div>
</section>