<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">admin</li>
            <li class="breadcrumb-item active" aria-current="page">profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img  src="{{apiBaseUrl+ filePath}}"  alt="avatar"
              class="rounded-circle img-fluid" style="width: 200px;">
            <h5 class="my-3"><p>{{ contactInfo.name }}</p></h5>
            <ng-container *ngIf="!filePath; else showUploadOption">
              <div class="custom-file mb-3">
                <input type="file" name="File" #fileUploadControl (change)="getFile($event)" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Upload Photo &nbsp;</label>
              </div>
              
            </ng-container>
            <ng-template #showUploadOption>
              <button class="btn btn-info" (click)="showFileInput()">Change Photo</button>
            </ng-template>
          
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">{{contactInfo.name}}.com</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <p class="mb-0">{{contactInfo.name}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">{{contactInfo.name}}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">{{contactInfo.name}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
              <div class="d-flex justify-content-end mb-2">
                <button type="button" class="btn btn-info" (click)="toggleContactEditMode()">
                  {{ isContactEditMode ? 'Cancel' : 'Edit' }}
                </button>
                <button
                  type="button"
                  class="btn btn-outline-info ms-2"
                  (click)="saveContact()"
                  [hidden]="!isContactEditMode"
                >
                  Save
                </button>
                </div>
                <div >
                  <div class="row" *ngIf="!isContactEditMode">
                    <div class="col-sm-3">
                      <p class="mb-0">Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ contactInfo.name }}</p>
                    </div>
                  </div>
                  <div class="row" *ngIf="isContactEditMode">
                    <div class="col-sm-3">
                      <p class="mb-0">Name</p>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" [(ngModel)]="contactModel.name" />
                    </div>
                  </div>
            <hr>
            <div class="row" *ngIf="!isContactEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ contactInfo.email }}</p>
              </div>
            </div>
            <div class="row" *ngIf="isContactEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="contactModel.email" />
              </div>
            </div>
            <hr>
            <div class="row" *ngIf="!isContactEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Phone Number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ contactInfo.phoneNumber }}</p>
              </div>
            </div>
            <div class="row" *ngIf="isContactEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Phone Number</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="contactModel.phoneNumber" />
              </div>
            </div>

          </div>
        </div>
        
      </div>
          <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex justify-content-end mb-2">
                <button type="button" class="btn btn-info" (click)="toggleAddressEditMode()">
                  {{ isAddressEditMode ? 'Cancel' : 'Edit' }}
                </button>
                <button
                  type="button"
                  class="btn btn-outline-info ms-2"
                  (click)="saveContact()"
                  [hidden]="!isAddressEditMode"
                >
                  Save
                </button>
                </div>
                <div class="row" *ngIf="!isAddressEditMode">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ addressInfo.address }}</p>
                  </div>
                </div>
                <div class="row" *ngIf="isAddressEditMode">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="addressInfo.address" />
                  </div>
                </div>
              <hr>
              <div class="row" *ngIf="!isAddressEditMode">
                <div class="col-sm-3">
                  <p class="mb-0">Postal Code</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ addressInfo.postalCode }}</p>
                </div>
              </div>
              <div class="row" *ngIf="isAddressEditMode">
                <div class="col-sm-3">
                  <p class="mb-0">Postal Code</p>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="addressInfo.postalCode" />
                </div>
              </div>
            <hr>
            <div class="row" *ngIf="!isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ addressInfo.countryName }}</p>
              </div>
            </div>
            <div class="row" *ngIf="isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="addressInfo.countryName" />
              </div>
            </div>
            <hr>
            <div class="row" *ngIf="!isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">State</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ addressInfo.stateName }}</p>
              </div>
            </div>
            <div class="row" *ngIf="isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">State</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="addressInfo.stateName" />
              </div>
            </div>
            <hr>
            <div class="row" *ngIf="!isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ addressInfo.cityName }}</p>
              </div>
            </div>
            <div class="row" *ngIf="isAddressEditMode">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="addressInfo.cityName" />
              </div>
            </div>
        </div>
        </div>
      </div>
      
    </div>
  </div>
</section>