
.error-message {
    color: #ff6347;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
  }
  .error-message div {
    margin-left: 10px; 
  }
  .custom-breadcrumb {
    margin-bottom: 20px;
    border-radius: 15px;
  }
  
  .form-control-lg {
    height: calc(1.5em + 1rem + 2px);
  }
  
  .form-title {
    margin-bottom: 20px;
  }
  
  .text-danger {
    font-size: 0.875em;
  }
  .custom {
    border-radius: 10px;
  }
  

  .dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    display: block;
    width: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .dropdown-toggle:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  
  .dropdown-menu.show {
    
    display: block;
  }
  
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  
  .dropdown-item input[type="checkbox"] {
    margin-right: 10px;
  }
  