<div class="col">
  <nav aria-label="breadcrumb" class="border-bottom pr-3 py-3 mb-3">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item" routerLink="/academy/dashboard" >academy</li>
      <li class="breadcrumb-item" routerLink="/academy/course-list" aria-current="page">{{courseRes.name}}</li>
      <li class="breadcrumb-item active" aria-current="page">add-resouce</li>
    </ol>
  </nav>
</div>
<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-xl-9">
        <form #courseForm="ngForm" method="POST" class="register-form ajax-contact">
          <h5 class="form-title">Create Course content</h5>
          <div class="row">
            <div class="form-group col-md-6">
              <label><i class="fas fa-tasks"></i>Task Name</label>
              <input type="text" class="form-control" name="taskName" [(ngModel)]="courseContentModel.taskName" placeholder="Task name" required #taskName="ngModel">
              <div *ngIf="taskName.invalid && (taskName.dirty || taskName.touched)" class="error-message">
                <div *ngIf="taskName.errors?.['required']">Task Name is required</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label><i class="far fa-file-alt"></i>Description</label>
              <textarea class="form-control" name="description" [(ngModel)]="courseContentModel.description" placeholder="Description" required #description="ngModel"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error-message">
                <div *ngIf="description.errors?.['required']">Description is required</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label><i class="fas fa-clock"></i>Duration (in hours)</label>
              <input type="number" class="form-control" name="duration" [(ngModel)]="courseContentModel.duration" placeholder="Content duration" required #duration="ngModel">
              <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="error-message">
                <div *ngIf="duration.errors?.['required']">Duration is required</div>
              </div>
            </div>
          </div>
          <div class="form-btn col-12 text-center">
            <button class="th-btn black-btn-2 w-100" [disabled]="courseForm.invalid" (click)="createCourseContent()">
              <app-spinner color="white" *ngIf="loadSpinner"></app-spinner>
              Create Content
            </button>
          </div>
        </form>
        
      </div>
    </div>
  </div>