
  <section>
    <div class="container">
      <input type="checkbox" name="" id="toggleView"/>
      <label for="toggleView"> Grid View </label>
      <div class="table-wrapper">
        <button class="add-batch-btn">+ Add Batch</button>
        <table>
          <thead>
            <tr>
              <th>Batch Name</th>
              <th>Batch Size</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Instructor Name</th>
              <th>Location Name</th>
              <th>IsActive</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let batch of batchList">
              <td data-name="Batch Name">{{batch.batchName}}</td>
              <td data-name="Batch Size">{{batch.batchSize}}</td>
              <td data-name="Start Date">{{batch.startDate}}</td>
              <td data-name="End Date">{{batch.endDate}}</td>
              <td data-name="Instructor Name">{{batch.instructorName}}</td>
              <td data-name="Location Name">{{batch.locationName}}</td>
              <td data-name="IsActive" class="status">{{batch.isActive}}</td>
              <td data-name="Action" class="actions">
                <i class="fas fa-edit"></i>
                <i class="fas fa-trash-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

