a {
  text-decoration: none !important;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
  height: 45px !important;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* SET FOR ALL TABLES HEADERS */
th {
  font-weight: 600 !important;
}

.chip {
  font-size: 0.85rem;
  border-radius: 6px;
  padding: 5px 8px;
  color: black;
  font-weight: 600;
}

.chip.chip-danger {
  background-color: #ffbcbc;
}
.chip.chip-warning {
  background-color: #fff9bc;
}
.chip.chip-success {
  background-color: #bcffe0;
}

.after-none::after {
  content: "" !important;
  display: none !important;
}

.squared-btn {
  width: 35px !important;
  height: 35px !important;
  border-radius: 10px !important;
  background: #0071cd !important;
  box-shadow: 0 2px 5px #00356052 !important;
  border: 1px solid #2d8ddb !important;
}

.nav-link.dangered:hover {
  background-color: rgb(255, 222, 222) !important;
  color: rgb(173, 0, 0) !important;
}

.nav-link.dangered:hover > i {
  color: rgb(173, 0, 0) !important;
}

.vertical-nav-menu a {
  text-align: left !important;
  padding-inline: 1rem !important;
  font-size: 0.9rem !important;
}

.vertical-nav-menu a > i {
  font-size: 1.2rem !important;
  margin-right: 0.5rem !important;
  width: 25px;
}

.vertical-nav-menu li:not(.mm-active) a > i {
  color: #878787 !important;
}

.custom-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card .card-body {
  border-radius: inherit;
}

.custom-card .table {
  border-radius: inherit;
}
.table {
  border-collapse: separate;
}
.add-batch-btn {
  border-radius: 5px;
}

/* BREADCRUMB */
li.breadcrumb-item {
  background: white;
  margin-right: 0.2rem;
  padding: 0.2rem 0.6rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Manrope";
  font-weight: 600;
  border: 1px solid #dedede;
  border-radius: 5px;
}

li.breadcrumb-item.active {
  background: #ff001324;
  color: #e82130;
  font-weight: 700;
  border-color: #f3000042;
}
li.breadcrumb-item.active::before {
  color: inherit;
}
.breadcrumb-item{
  cursor:pointer
}
.custom-class .swal2-popup {
  font-size: 14px; 
  width: 100px;
}
.swal2-cancel {
  color: #d33; /* Example color */
  font-weight: bold; /* Make the text bold */
}

.swal2-confirm {
  background-color: #3085d6; /* Example color for confirm button */
  color: white; /* Text color */
}