<!-- <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  [src]="'https://www.openstreetmap.org/export/embed.html?bbox=' + (longitude - 0.1) + ',' + (latitude - 0.1) + ',' + (longitude + 0.1) + ',' + (latitude + 0.1) + '&marker=' + latitude + ',' + longitude"
  allowfullscreen>
</iframe> -->
<iframe
width="600"
height="450"
frameborder="0" style="border:0"
src="https://www.openstreetmap.org/export/embed.html?bbox=77.5,12.8,77.8,13.1&marker=12.9716,77.5946"
allowfullscreen>
</iframe>