<div class="container my-5">
  <div class="row gy-4 justify-content-center">
    <div class="col-lg-6 col-xl-5">
      <form method="POST" #loginForm="ngForm" class="login-form">
        <h5 class="form-title">Login</h5>
        <div class="row">
          <div class="form-group">
            <label>email address*</label>
            <input
              type="text"
              class="form-control style-white"
              name="email"
              #email="ngModel"
              [(ngModel)]="loginModel.email"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              [class.is-invalid]="email.touched && email.invalid"
              required
              id="name"
              placeholder=""
            /><i class="far fa-user" aria-hidden="true"></i>
            <div *ngIf="email.touched && email.invalid" class="error-message">
              <div *ngIf="email.errors?.['required']">
                  email is required
              </div>
              <div *ngIf="email.errors?.['pattern']">
                Please enter a valid email address
            </div>
          </div>
          </div>
          <div class="form-group style-3">
            <label>Password *</label>
            <input
              type="password"
              class="form-control style-white"
              name="password"
              #password="ngModel"
              [(ngModel)]="loginModel.password"
              id="password"
              placeholder=""
              [class.is-invalid]="password.touched && password.invalid"
              required
            /><i class="far fa-eye-slash" aria-hidden="true"></i>
            <div *ngIf="password.touched && password.invalid" class="error-message">
              <div *ngIf="password.errors?.['required']">
                  password is required
              </div>
              </div>
         
          </div>
          <div class="form-group col-6 text-start align-self-center">
            <input class="style2" type="checkbox" id="remember" />
            <label for="remember">Remember Me</label>
          </div>
          <div class="form-group col-6 text-end">
            <a class="forget-password-btn" routerLink="/forgot-password">Forgot Password?</a>
          </div>
          <div class="row mb-3">
            <p>Don't have an account? <a routerLink="/enquiry" class="register-here-btn">Register Here</a></p>
        </div>
          <div class="form-btn col-12 text-center">
            <button class="th-btn w-100" (click)="onLogIn()" [disabled]="loginForm.invalid">Log In
              <app-spinner color="white" *ngIf="loadSpinner"></app-spinner>
            </button>
          </div>
        </div>
        <p class="form-messages mb-0 mt-3"></p>
      </form>
    </div>
  </div>
</div>
