<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">Dashboard</div>
    </div>
  </div>

  <div class="tabs-animation">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card mb-3 widget-chart gradient-bb">
          <div class="widget-chart-content">
            <div class="icon-wrapper ml-0 rounded">
              <div class="icon-wrapper-bg bg-invert"></div>
              <i class="fas fa-book-reader text-white"></i>
            </div>
            <div class="widget-numbers text-white"></div>
            <div
              style="cursor: pointer;"
              routerLink="/instructor/check-mycourses"
              class="widget-subheading fsize-1 pt-2 opacity-10 text-white font-weight-bold text-left"
            >
              Total courses
            </div>
            <div class="widget-description fw-bold opacity-8 text-left">
              <span class="text-white pr-1">{{ coursesList.length }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card mb-3 widget-chart gradient-ww">
          <div class="widget-chart-content">
            <div class="icon-wrapper ml-0 rounded">
              <div class="icon-wrapper-bg bg-invert"></div>
              <i class="fas fa-boxes text-white"></i>
            </div>
            <div class="widget-numbers text-white"></div>
            <div
              style="cursor: pointer;"
              routerLink="/instructor/check-my-batch"
              class="widget-subheading fsize-1 pt-2 opacity-10 text-white font-weight-bold text-left"
            >
              Total Batches
            </div>
            <div class="widget-description fw-bold opacity-8 text-left">
              <span class="text-white pr-1">{{ batchList.length }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card mb-3 widget-chart gradient-pp">
          <div class="widget-chart-content">
            <div class="icon-wrapper ml-0 rounded">
              <div class="icon-wrapper-bg bg-invert"></div>
              <i class="fas fa-user-graduate text-white"></i>
            </div>
            <div class="widget-numbers text-white"></div>
            <div
              style="cursor: pointer;"
              routerLink="/instructor/student-list"
              class="widget-subheading fsize-1 pt-2 opacity-10 text-white font-weight-bold text-left"
            >
              Total Students
            </div>
            <div class="widget-description fw-bold opacity-8 text-left">
              <span class="text-white pr-1">{{ StudentList.length }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card mb-3 widget-chart gradient-ww">
          <div class="widget-chart-content">
            <div class="icon-wrapper ml-0 rounded">
              <div class="icon-wrapper-bg bg-invert"></div>
              <i class="fas fa-calendar text-white"></i>
            </div>
            <div class="widget-numbers text-white"></div>
            <div
              style="cursor: pointer;"
              routerLink="/instructor/check-my-schedule"
              class="widget-subheading fsize-1 pt-2 opacity-10 text-white font-weight-bold text-left"
            >
              Total Schedules
            </div>
            <div class="widget-description fw-bold opacity-8 text-left">
              <span class="text-white pr-1">{{ scheduleList.length }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
