<div class="app-header__logo">
  <div class="logo-src"></div>
  <div class="header__pane ml-auto">
    <div>
      <button
        type="button"
        class="hamburger close-sidebar-btn hamburger--elastic"
        data-class="closed-sidebar"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
</div>
<div class="app-header__mobile-menu">
  <div>
    <button
      type="button"
      class="hamburger hamburger--elastic mobile-toggle-nav"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</div>
<div class="app-header__menu">
  <span>
    <button
      type="button"
      class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav"
    >
      <span class="btn-icon-wrapper">
        <i class="fa fa-ellipsis-v fa-w-6"></i>
      </span>
    </button>
  </span>
</div>
<div class="app-header__content">
  <div class="app-header-right">
    <div class="header-dots">
      <!-- <div class="dropdown">
        <button
          type="button"
          aria-haspopup="true"
          aria-expanded="false"
          data-toggle="dropdown"
          class="p-0 mr-2 btn btn-link"
        >
          <span class="icon-wrapper icon-wrapper-alt rounded-circle">
            <span class="icon-wrapper-bg bg-danger"></span>
            <span
              class="lnr lnr-alarm icon text-danger icon-anim-pulse notification-icon"
            ></span>
            <span class="badge badge-dot badge-dot-sm badge-danger"
              >Notifications</span
            >
          </span>
        </button>
        <div
          tabindex="-1"
          role="menu"
          aria-hidden="true"
          class="dropdown-menu-xl rm-pointers dropdown-menu dropdown-menu-right"
        >
          <div class="dropdown-menu-header mb-0">
            <div class="dropdown-menu-header-inner bg-deep-blue">
              <div
                class="menu-header-image opacity-1"
                style="
                  background-image: url('assets/images/dropdown-header/city3.jpg');
                "
              ></div>
              <div class="menu-header-content text-dark">
                <h5 class="menu-header-title">Notifications</h5>
                <h6 class="menu-header-subtitle">
                  You have <b>21</b> unread messages
                </h6>
              </div>
            </div>
          </div>

          <div class="scroll-area-sm">
            <div class="scrollbar-container">
              <div class="p-3">
                <div class="notifications-box">
                  <div
                    class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--one-column"
                  >
                    <div
                      class="vertical-timeline-item dot-danger vertical-timeline-element"
                    >
                      <div>
                        <span
                          class="vertical-timeline-element-icon bounce-in"
                        ></span>
                        <div
                          class="vertical-timeline-element-content bounce-in"
                        >
                          <h4 class="timeline-title">All Hands Meeting</h4>
                          <span class="vertical-timeline-element-date"></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="vertical-timeline-item dot-warning vertical-timeline-element"
                    >
                      <div>
                        <span
                          class="vertical-timeline-element-icon bounce-in"
                        ></span>
                        <div
                          class="vertical-timeline-element-content bounce-in"
                        >
                          <p>
                            Yet another one, at
                            <span class="text-success">15:00 PM</span>
                          </p>
                          <span class="vertical-timeline-element-date"></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="vertical-timeline-item dot-success vertical-timeline-element"
                    >
                      <div>
                        <span
                          class="vertical-timeline-element-icon bounce-in"
                        ></span>
                        <div
                          class="vertical-timeline-element-content bounce-in"
                        >
                          <h4 class="timeline-title">
                            Build the production release
                            <span class="badge badge-danger ml-2">NEW</span>
                          </h4>
                          <span class="vertical-timeline-element-date"></span>
                        </div>
                      </div>
                    </div>

                    <div
                      class="vertical-timeline-item dot-info vertical-timeline-element"
                    >
                      <div>
                        <span
                          class="vertical-timeline-element-icon bounce-in"
                        ></span>
                        <div
                          class="vertical-timeline-element-content bounce-in"
                        >
                          <h4 class="timeline-title">
                            This dot has an info state
                          </h4>
                          <span class="vertical-timeline-element-date"></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="vertical-timeline-item dot-danger vertical-timeline-element"
                    >
                      <div>
                        <span
                          class="vertical-timeline-element-icon bounce-in"
                        ></span>
                        <div
                          class="vertical-timeline-element-content bounce-in"
                        >
                          <h4 class="timeline-title">All Hands Meeting</h4>
                          <span class="vertical-timeline-element-date"></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="vertical-timeline-item dot-warning vertical-timeline-element"
                    >
                      <div>
                        <span
                          class="vertical-timeline-element-icon bounce-in"
                        ></span>
                        <div
                          class="vertical-timeline-element-content bounce-in"
                        >
                          <p>
                            Yet another one, at
                            <span class="text-success">15:00 PM</span>
                          </p>
                          <span class="vertical-timeline-element-date"></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="vertical-timeline-item dot-success vertical-timeline-element"
                    >
                      <div>
                        <span
                          class="vertical-timeline-element-icon bounce-in"
                        ></span>
                        <div
                          class="vertical-timeline-element-content bounce-in"
                        >
                          <h4 class="timeline-title">
                            Build the production release
                            <span class="badge badge-danger ml-2">NEW</span>
                          </h4>
                          <span class="vertical-timeline-element-date"></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="vertical-timeline-item dot-dark vertical-timeline-element"
                    >
                      <div>
                        <span
                          class="vertical-timeline-element-icon bounce-in"
                        ></span>
                        <div
                          class="vertical-timeline-element-content bounce-in"
                        >
                          <h4 class="timeline-title">
                            This dot has a dark state
                          </h4>
                          <span class="vertical-timeline-element-date"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ul class="nav flex-column">
            <li class="nav-item-divider nav-item"></li>
            <li class="nav-item-btn text-center nav-item">
              <button class="btn-shadow btn-wide btn-pill btn btn-focus btn-sm">
                View Latest Changes
              </button>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="header-btn-lg pr-0">
      <div class="widget-content p-0">
        <div class="widget-content-wrapper">
          <div class="widget-content-left ml-3 header-user-info">
            <div class="widget-heading">{{ loggedInUserDetails.fullName }}</div>
            <div class="widget-subheading">portal Admin</div>
          </div>
          <div class="widget-content-left">
            <div class="btn-group">
              <a
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                class="p-0 btn"
              >
                <img width="42" class="rounded-circle" src="{{apiBaseUrl+filepath}}" alt />
                <i class="fa fa-angle-down ml-2 opacity-8"></i>
              </a>
              <div
                tabindex="-1"
                role="menu"
                aria-hidden="true"
                class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right"
              >
                <div class="dropdown-menu-header">
                  <div
                    class="dropdown-menu-header-inner"
                    style="background-color: #eb0029"
                  >
                    <div
                      class="menu-header-image"
                      style="
                        background-image: url('assets/images/dropdown-header/city3.jpg');
                      "
                    ></div>
                    <div class="menu-header-content text-left">
                      <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                          <div class="widget-content-left mr-4">
                            <img
                              width="50"
                              style="object-fit: cover; aspect-ratio: 1"
                              class="rounded-circle"
                              src="{{apiBaseUrl+filepath}}"
                              alt
                            />
                          </div>
                          <div class="widget-content-left text-capitalize">
                            <div class="widget-heading font-manrope">
                              {{ loggedInUserDetails.fullName }}
                            </div>
                            <div class="widget-subheading">
                              Managing the whole Academy
                            </div>
                          </div>
                          <!-- <div class="widget-content-right mr-2">
                            <button (click)="onLogOut()"
                              class="btn-pill btn-shadow btn-shine btn btn-focus"
                            >
                              Logout
                            </button>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="scroll-area-xs" style="height: 150px">
                  <div class="scrollbar-container ps">
                    <ul class="nav flex-column">
                      <a routerLink="/admin/profile">
                        <li class="nav-item-header nav-item">
                          <i class="fas fa-user mr-2 h6"></i>  
                          view profile
                        </li>
                      </a>
                      <a [routerLink]="['/admin/change-password', userRole]">
                        <li class="nav-item-header nav-item">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16" style="margin-right: 10px;">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
                          </svg>
                          
                          change passsword
                        </li>
                      </a>
                      <a  (click)="onLogOut()">
                        <li class="nav-item-header nav-item" style="cursor:pointer">
                          <svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16" style="margin-right: 10px;">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                          </svg>
                          Logout
                        </li>
                      </a>
                    </ul>
                  </div>
                </div>
                <ul class="nav flex-column">
                  <li class="nav-item-divider mb-0 nav-item"></li>
                </ul>
                <!-- <div class="grid-menu grid-menu-2col">
                  <div class="no-gutters row">
                    <div class="col-sm-6">
                      <button
                        class="btn-icon-vertical btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning"
                      >
                        <i
                          class="pe-7s-chat icon-gradient bg-amy-crisp btn-icon-wrapper mb-2"
                        ></i>
                        Message Inbox
                      </button>
                    </div>
                    <div class="col-sm-6">
                      <button
                        class="btn-icon-vertical btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger"
                      >
                        <i
                          class="pe-7s-ticket icon-gradient bg-love-kiss btn-icon-wrapper mb-2"
                        ></i>
                        <b>Support Tickets</b>
                      </button>
                    </div>
                  </div>
                </div>
                <ul class="nav flex-column">
                  <li class="nav-item-divider nav-item"></li>
                  <li class="nav-item-btn text-center nav-item">
                    <button class="btn-wide btn btn-primary btn-sm">
                      Open Messages
                    </button>
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
