<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-xl-6">
      <form
        #academyRegistrationForm="ngForm"
        method="POST"
        class="register-form ajax-contact"
      >
        <h5 class="form-title">Forgot Password</h5>
        <div class="row">
          <div class="form-group col-md-12">
            <label><i class="fa fa-envelope"></i> Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              #name="ngModel"
              [(ngModel)]="forgotPasswordModel.email"
              placeholder="enter your email"
            />
          </div>

          <div class="form-btn col-12 text-center">
            <button class="th-btn black-btn-2 w-100" (click)="forgotPassword()">
              Send Mail
            </button>
          </div>
        </div>
        <p class="form-messages mb-0 mt-3"></p>
      </form>
    </div>
  </div>
</div>
