<div class="container my-5">
  <div class="row justify-content-center">
    <div>
      <form #courseResourceForm="ngForm" (ngSubmit)="updateCourseResource($event)" method="POST" class="register-form ajax-contact">
        <h5 class="form-title">Update Course Resource</h5>
        <div class="row">
          <div class="form-group col-md-6">
            <label><i class="far fa-user"></i> Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="resourceModel.name" placeholder="Resource name" required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
              <div *ngIf="name.errors?.['required']">Name is required</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label><i class="far fa-file-alt"></i> Description</label>
            <textarea class="form-control" name="description" [(ngModel)]="resourceModel.description" placeholder="Description" required #description="ngModel"></textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error-message">
              <div *ngIf="description.errors?.['required']">Description is required</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="resourceType">Resource Type:</label>
            <select class="form-control" id="resourceType" name="type" [(ngModel)]="resourceModel.type" required #type="ngModel">
              <option [ngValue]="0" selected>Select Resource Type</option>
              <option [ngValue]="1">Youtube</option>
              <option [ngValue]="2">PDF</option>
              <option [ngValue]="3">Document</option>
              <option [ngValue]="4">Video</option>
              <option [ngValue]="5">Image</option>
              <option [ngValue]="6">Other</option>
            </select>
            <div *ngIf="type.invalid && (type.dirty || type.touched)" class="error-message">
              <div *ngIf="type.errors?.['required']">Resource Type is required</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label><i class="fas fa-file"></i> File</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="fileInput" name="file" (change)="onFileChange($event)" required>
              <label class="custom-file-label" for="fileInput">Choose file</label>
            </div>
          </div>
        </div>
        <div class="form-btn col-12 text-center">
          <button class="th-btn black-btn-2 w-100" [disabled]="courseResourceForm.invalid">Update Resource</button>
        </div>
      </form>
    </div>
  </div>
</div>
