<div class="app-inner" *ngIf="showTable">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="border-bottom pr-3 py-3 mb-3">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item" routerLink="/student/dashboard" >student</li>
            <li class="breadcrumb-item active" aria-current="page">resources</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="card custom-card overflow-auto">
      <div class="card-body font-manrope">
        <h4 class="card-title text-capitalize fs-5 mb-3">Resources</h4>
        <div class="row">
          <div class="col-12">
            <div
              id="order-listing_wrapper"
              class="dataTables_wrapper dt-bootstrap4 no-footer"
            >
              <div class="row">
               
                <div class="col-sm-12 col-md-6">
                  <div id="resource-listing_filter" class="dataTables_filter">
                    <label>
                      <input
                        type="search"
                        [(ngModel)]="searchText"
                        (input)="filterResources()"
                        class="form-control"
                        placeholder="Search resources"
                        aria-controls="resource-listing"
                      />
                    </label>
                  </div>
                </div>
              </div>

              <table
                id="resource-listing"
                class="table dataTable no-footer"
                aria-describedby="resource-listing_info"
              >
                <thead>
                  <tr>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Name: activate to sort column descending"
                      style="width: 100px;"
                    >
                      Name
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Description: activate to sort column descending"
                      style="width: 200px;"
                    >
                      Description
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Type: activate to sort column descending"
                      style="width: 100px;"
                    >
                      Resource
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="IsActive: activate to sort column descending"
                      style="width: 100px;"
                    >
                      IsActive
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Actions: activate to sort column descending"
                      style="width: 100px;"
                    >
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let courseResource of displayedResourceList">
                    <td>{{ courseResource.name }}</td>
                    <td>{{ courseResource.description }}</td>
                    <td>
                      <ng-container [ngSwitch]="courseResource.type">
                        <a *ngSwitchCase="5" [href]="apiBaseUrl + courseResource.filePath" download>
                          <img [src]="apiBaseUrl + courseResource.filePath" alt="" style="width: 100px; height: auto; border-radius: 10px;" title="Open/Download image">
                        </a>
                        <a *ngSwitchCase="2" [href]="apiBaseUrl + courseResource.filePath" target="_blank" data-bs-toggle="tooltip" title="Open/Download PDF">
                          <i class="fa fa-file-pdf-o" style="font-size:58px;color:red"></i>
                        </a>
                         
                          <a *ngSwitchCase="3" [href]="apiBaseUrl + courseResource.filePath"  target="_blank" title="Open/view document">
                            <i class="fa fa-file" style="font-size:58px;color:rgb(159, 44, 44)"></i>
                          </a>
                        <video *ngSwitchCase="4" controls  style="width: 100px; height: auto; border-radius: 10px;" title="Open/Download image">
                          <source [src]="apiBaseUrl + courseResource.filePath" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                        <iframe *ngSwitchCase="1" [src]="courseResource.filePath" frameborder="0" allowfullscreen style="width: 100px; height: auto;"></iframe>
                        <span *ngSwitchDefault>Unsupported resource type</span>
                      </ng-container>
                    </td>
                    <td>
                      <span [ngClass]="courseResource.isActive ? 'chip chip-success' : 'chip chip-danger'">
                        {{ courseResource.isActive }}
                      </span>
                    </td>
                    <td>
                      <div class="d-inline-block dropdown">
                        <button
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          title="Row Options"
                          class="dropdown-toggle btn btn-success after-none squared-btn"
                        >
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div
                          tabindex="-1"
                          role="menu"
                          aria-hidden="true"
                          class="dropdown-menu dropdown-menu-left"
                        >
                          <ul class="nav flex-column">
                        
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                
                              >
                                <i class="nav-link-icon fas fa-pen"></i>
                                <span> Download</span>
                              </a>
                            </li>
                           
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="filteredResourceList.length === 0" class="text-center my-5 p-5 border rounded" style="background-color: #f8f9fa;">
                <i class="fas fa-exclamation-circle fa-3x text-muted mb-3"></i>
                <h4 class="text-muted">No data found</h4>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">
                    Showing {{ (currentPage - 1) * itemsPerPage + 1 }} to
                    {{ currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage }}
                    of {{ totalItems }} enquiries
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate">
                    <ul class="pagination">
                      <!-- Previous Button -->
                      <li class="paginate_button page-item previous" [class.disabled]="currentPage === 1">
                        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1" class="page-link">
                          Previous
                        </button>
                      </li>
                      <!-- Page Numbers -->
                      <li *ngFor="let page of pages" class="paginate_button page-item" [class.active]="currentPage === page">
                        <button (click)="goToPage(page)" class="page-link">
                          {{ page }}
                        </button>
                      </li>
                      <!-- Next Button -->
                      <li class="paginate_button page-item next" [class.disabled]="currentPage === pages.length">
                        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === pages.length" class="page-link">
                          Next
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <app-spinner *ngIf="showSpinner"></app-spinner>
</div>
<app-no-content *ngIf="showNoContent"></app-no-content>
