<div class="app-inner" *ngIf="showTable">
    <div class="container">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="border-bottom pr-3 py-3 mb-3">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"style="cursor: pointer;" routerLink="/instructor/dashboard">instructor</li>
              <li class="breadcrumb-item active" aria-current="page">my-student-list</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="card custom-card overflow-auto">
        <div class="card-body font-manrope">
          <h4 class="card-title text-capitalize fs-5 mb-3">Students</h4>
          <div class="row">
            <div class="col-12">
              <div
                id="order-listing"
                class="dataTables_wrapper dt-bootstrap4 no-footer"
              >
                <!-- Search input -->
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <input
                      type="search"
                      [(ngModel)]="searchText"
                      (input)="filterStudents($event)"
                      class="form-control mb-3"
                      placeholder="Search students"
                    />
                  </div>
                </div>
                <!-- Student table -->
                <table
                  id="student-listing"
                  class="table dataTable no-footer"
                  aria-describedby="student-listing_info"
                >
                  <!-- Table headers -->
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Date of Birth</th>
                      <th>Batch Name</th>
                      <th>IsActive</th>
                      <th>Active</th>
                    </tr>
                  </thead>
                  <!-- Table body -->
                  <tbody>
                    <!-- Student rows -->
                    <tr *ngFor="let student of displayedStudentList">
                      <td>{{ student.name }}</td>
                      <td>{{ student.email }}</td>
                      <td>{{ student.phoneNumber }}</td>
                      <td>{{ student.dateOfBirth | date }}</td>
                      <td>{{ student.batchName }}</td>
                      <td>
                        <span
                          [ngClass]="
                            student.isActive
                              ? 'chip chip-success'
                              : 'chip chip-danger'
                          "
                        >
                          {{ student.isActive }}
                        </span>
                      </td>
                    
                    </tr>
                  </tbody>
                </table>
                <!-- No data message -->
                <div *ngIf="displayedStudentList.length === 0" class="text-center my-5 p-5 border rounded" style="background-color: #f8f9fa;">
                  <i class="fas fa-exclamation-circle fa-3x text-muted mb-3"></i>
                  <h4 class="text-muted">No students found</h4>
                </div>
                <!-- Pagination -->
                <div class="row">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">
                            Showing {{ (currentPage - 1) * itemsPerPage + 1 }} to
                            {{ currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage }}
                            of {{ totalItems }} enquiries
                          </div>
                        </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="student-listing_paginate">
                      <ul class="pagination">
                        <!-- Previous Button -->
                        <li class="paginate_button page-item previous" [class.disabled]="currentPage === 1">
                          <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1" class="page-link">
                            Previous
                          </button>
                        </li>
                        <!-- Page Numbers -->
                        <li *ngFor="let page of pages" class="paginate_button page-item" [class.active]="currentPage === page">
                          <button (click)="goToPage(page)" class="page-link">
                            {{ page }}
                          </button>
                        </li>
                        <!-- Next Button -->
                        <li class="paginate_button page-item next" [class.disabled]="currentPage === pages.length">
                          <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === pages.length" class="page-link">
                            Next
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Spinner -->
  <app-spinner *ngIf="showSpinner"></app-spinner>
  
  <!-- No content -->
  <app-no-content *ngIf="showNoContent"></app-no-content>
  