<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="col">
        <nav aria-label="breadcrumb" class="border-bottom pr-3 py-3 mb-3">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">student</li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>
        </nav>
      </div>
      <div></div>
    </div>
  </div>

  <div class="tabs-animation">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card mb-3 widget-chart gradient-bb">
          <div class="widget-chart-content">
            <div class="icon-wrapper ml-0 rounded">
              <div class="icon-wrapper-bg bg-invert"></div>
              <i class="fa fa-boxes text-white"></i>
            </div>
            <div class="widget-numbers text-white">
            </div>
            <div class="widget-subheading fsize-1 pt-2 opacity-10 text-white font-weight-bold">
              Total Batches
            </div>
            <div class="widget-description fw-bold opacity-8">
              <span class="text-white pr-1">{{batchList.length}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card mb-3 widget-chart gradient-pp">
          <div class="widget-chart-content">
            <div class="icon-wrapper ml-0 rounded">
              <div class="icon-wrapper-bg bg-invert"></div>
              <i class="fa fa-calendar text-white"></i>
            </div>
            <div class="widget-numbers text-white"></div>
            <div class="widget-subheading fsize-1 pt-2 opacity-10 text-white font-weight-bold">
              Total Schedules
            </div>
            <div class="widget-description fw-bold opacity-8">
              <span class="text-white pr-1">{{scheduleList.length}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="card mb-3 widget-chart gradient-ww">
          <div class="widget-chart-content">
            <div class="icon-wrapper ml-0 rounded">
              <div class="icon-wrapper-bg bg-invert"></div>
              <i class="fa fa-calendar text-white"></i>
            </div>
            <div class="widget-numbers text-white">
            </div>
            <div class="widget-subheading fsize-1 pt-2 opacity-10 text-white font-weight-bold">
              Today's Schedule
            </div>
            <div class="widget-description fw-bold opacity-8">
              <div *ngIf="!showNoSchedule">
                <div *ngFor="let schedule of todaysSchedule">
                  <p class="text-white"><strong>Date:</strong> {{ schedule.date | date: 'shortDate' }}</p>
                  <p class="text-white"><strong>Duration in Hours:</strong> {{ schedule.durationInHours }}</p>
                  <p class="text-white"><strong>Batch Name:</strong> {{ schedule.batchName }}</p>
                  <p class="text-white"><strong>Content Name:</strong> {{ schedule.contentName }}</p>
                </div>
              </div>
              <div *ngIf="showNoSchedule">
                <p class="text-white">No schedule for today.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
