<div class="app-inner">
  <div class="container">
    <div class="card custom-card overflow-auto">
      <div class="card-body font-manrope">
        <h4 class="card-title text-capitalize fs-5 mb-3">Content List</h4>
        <div class="row">
          <div class="col-12">
            <div id="content-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <button class="btn btn-success bg-gradient" [routerLink]="['/academy/create-content/:courseId']"><i class="fas fa-plus mr-2"></i> Add Content</button>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="content-listing_filter" class="dataTables_filter">
                    <label>
                      <input
                        type="search"
                       
                        class="form-control"
                        placeholder="Search content"
                        aria-controls="content-listing"
                      />
                    </label>
                  </div>
                </div>
              </div>

              <table
                id="content-listing"
                class="table dataTable no-footer"
                aria-describedby="content-listing_info"
              >
                <thead>
                  <tr>
                    <th scope="col" style="width: 100px;">Task Name</th>
                    <th scope="col" style="width: 200px;">Description</th>
                    <th scope="col" style="width: 100px;">Duration</th>
                    <th scope="col" style="width: 100px;">IsActive</th>
                    <th scope="col" style="width: 100px;">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let courseContent of courseContentList">
                    <td>{{ courseContent.taskName }}</td>
                    <td>{{ courseContent.description }}</td>
                    <td>{{ courseContent.duration | number: '1.0-0' }} hours</td>
                    <td>
                      <span [ngClass]="courseContent.isActive ? 'chip chip-success' : 'chip chip-danger'">
                        {{ courseContent.isActive }}
                      </span>
                    </td>
                    <td>
                      <div class="d-inline-block dropdown">
                        <button
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          title="Row Options"
                          class="dropdown-toggle btn btn-success after-none squared-btn"
                        >
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div
                          tabindex="-1"
                          role="menu"
                          aria-hidden="true"
                          class="dropdown-menu dropdown-menu-left"
                        >
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="['/academy/update-course-content', courseContent.id, courseId]"
                              >
                                <i class="nav-link-icon fas fa-pen"></i>
                                <span> Edit</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link dangered fw-semibold"
                                (click)="deleteCourseContent(courseContent.id)"
                              >
                                <i class="nav-link-icon fas fa-trash dangered"></i>
                                <span> Delete</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-12 col-md-7">
                  <div
                    class="dataTables_paginate paging_simple_numbers"
                    id="content-listing_paginate"
                  >
                    <ul class="pagination">
                      <li class="paginate_button page-item previous disabled" id="content-listing_previous">
                        <a
                          aria-controls="content-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="previous"
                          tabindex="-1"
                          class="page-link"
                          >Previous</a
                        >
                      </li>
                      <li class="paginate_button page-item active">
                        <a
                          href="#"
                          aria-controls="content-listing"
                          role="link"
                          aria-current="page"
                          data-dt-idx="0"
                          tabindex="0"
                          class="page-link"
                          >1</a
                        >
                      </li>
                      <li class="paginate_button page-item next disabled" id="content-listing_next">
                        <a
                          aria-controls="content-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="next"
                          tabindex="-1"
                          class="page-link"
                          >Next</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
