<div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Content List</h2>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="searchText"
            (input)="filterCourseContent()"
          />
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Task Name</th>
              <th scope="col">Description</th>
              <th scope="col">Duration</th>
              <th scope="col">IsActive</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let courseContent of filteredCourseContentList">
              <td>{{courseContent.taskName}}</td>
              <td>{{courseContent.description}}</td>
              <td>{{courseContent.duration| number: '1.0-0'}} hours</td>
              <td>{{courseContent.isActive}}</td>
              <td>
                <button type="button" class="btn btn-success" style="margin-right: 3px;" [routerLink]="['/academy/update-course-content',courseContent.id,courseId]"><i class="fas fa-edit"></i>Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteCourseContent(courseContent.id)"><i class="far fa-trash-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  