<div class="app-inner">
  <div class="container">
    <div class="card custom-card overflow-auto">
      <div class="card-body font-manrope">
        <h4 class="card-title text-capitalize fs-5 mb-3">Enquiries</h4>
        <div class="row">
          <div class="col-12">
            <div
              id="order-listing_wrapper"
              class="dataTables_wrapper dt-bootstrap4 no-footer"
            >
              <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6">
                  <div id="order-listing_filter" class="dataTables_filter">
                    <label>
                      <input
                        type="search"
                        [(ngModel)]="searchText"
                        (input)="filterEnquiries()"
                        class="form-control"
                        placeholder="Search enquiries"
                        aria-controls="order-listing"
                      />
                    </label>
                  </div>
                </div>
              </div>
              <table
                id="order-listing"
                class="table dataTable no-footer"
                aria-describedby="order-listing_info"
              >
                <thead>
                  <tr>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Order #: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                      Name
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Customer: activate to sort column ascending"
                      style="width: 91.9375px"
                    >
                      Email
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Phone Number
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Registration Status
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      IsActive
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let enquiry of filteredEnquiryList">
                    <td>{{ enquiry.name }}</td>
                    <td>{{ enquiry.email }}</td>
                    <td>{{ enquiry.phoneNumber }}</td>

                    <td>
                      <span
                        [ngClass]="getStatusClass(enquiry.registrationStatus!)"
                      >
                        {{
                          enquiry.registrationStatus | registrationStatus
                        }}</span
                      >
                    </td>
                    <td>
                      <span
                        [ngClass]="
                          enquiry.isActive
                            ? 'chip chip-success'
                            : 'chip chip-danger'
                        "
                      >
                        {{ enquiry.isActive }}</span
                      >
                    </td>
                    <td>
                      <div class="d-inline-block dropdown">
                        <button
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          title="Row Options"
                          class="dropdown-toggle btn btn-success after-none squared-btn"
                        >
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div
                          tabindex="-1"
                          role="menu"
                          aria-hidden="true"
                          class="dropdown-menu dropdown-menu-left"
                        >
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                *ngIf="pending"
                                [routerLink]="[
                                  '/admin/register-enquiry',
                                  enquiry.id
                                ]"
                              >
                                <i class="nav-link-icon fas fa-plus"></i>
                                <span> Register</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="[
                                  '/admin/updateenquiry',
                                  enquiry.id
                                ]"
                              >
                                <i class="nav-link-icon fas fa-pen"></i>
                                <span> Edit</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link dangered fw-semibold"
                                (click)="deleteEnquiry(enquiry.id)"
                              >
                                <i
                                  class="nav-link-icon fas fa-trash dangered"
                                ></i>
                                <span> Delete</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link dangered fw-semibold"
                                (click)="rejectEnquiry(enquiry)"
                              >
                                <i class="nav-link-icon fa fa-ban dangered"></i>
                                <span> Reject</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">
                    Showing {{ (currentPage - 1) * itemsPerPage + 1 }} to
                    {{ currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage }}
                    of {{ totalItems }} enquiries
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate">
                    <ul class="pagination">
                      <!-- Previous Button -->
                      <li class="paginate_button page-item previous" [class.disabled]="currentPage === 1">
                        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1" class="page-link">
                          Previous
                        </button>
                      </li>
                      <!-- Page Numbers -->
                      <li *ngFor="let page of pages" class="paginate_button page-item" [class.active]="currentPage === page">
                        <button (click)="goToPage(page)" class="page-link">
                          {{ page }}
                        </button>
                      </li>
                      <!-- Next Button -->
                      <li class="paginate_button page-item next" [class.disabled]="currentPage === pages.length">
                        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === pages.length" class="page-link">
                          Next
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
