<div class="app-inner">
  <div class="container">
    <div class="card custom-card overflow-auto">
      <div class="card-body font-manrope">
        <h4 class="card-title text-capitalize fs-5 mb-3">Enquiries</h4>
        <div class="row">
          <div class="col-12">
            <div
              id="order-listing_wrapper"
              class="dataTables_wrapper dt-bootstrap4 no-footer"
            >
              <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6">
                  <div id="order-listing_filter" class="dataTables_filter">
                    <label>
                      <input
                        type="search"
                        [(ngModel)]="searchText"
                        (input)="filterEnquiries()"
                        class="form-control"
                        placeholder="Search enquiries"
                        aria-controls="order-listing"
                      />
                    </label>
                  </div>
                </div>
              </div>
              <table
                id="order-listing"
                class="table dataTable no-footer"
                aria-describedby="order-listing_info"
              >
                <thead>
                  <tr>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Order #: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                      Name
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Customer: activate to sort column ascending"
                      style="width: 91.9375px"
                    >
                      Email
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Phone Number
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Registration Status
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Ship to: activate to sort column ascending"
                      style="width: 75.0125px"
                    >
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let enquiry of filteredEnquiryList">
                    <td>{{ enquiry.name }}</td>
                    <td>{{ enquiry.email }}</td>
                    <td>{{ enquiry.phoneNumber }}</td>
                    <td>
                      <!-- USE chip-danger chip-warning chip-success accordingly -->
                      <span [ngClass]="getStatusClass(enquiry.registrationStatus!)">
                        {{
                          enquiry.registrationStatus | registrationStatus
                        }}</span
                      >
                    </td>
                    <td>
                      <div class="d-inline-block dropdown">
                        <button
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          title="Row Options"
                          class="dropdown-toggle btn btn-success after-none squared-btn"
                        >
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div
                          tabindex="-1"
                          role="menu"
                          aria-hidden="true"
                          class="dropdown-menu dropdown-menu-left"
                        >
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                *ngIf="pending"
                                [routerLink]="[
                                  '/admin/register-enquiry',
                                  enquiry.id
                                ]"
                              >
                                <i class="nav-link-icon fas fa-plus"></i>
                                <span> Register</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="[
                                  '/admin/updateenquiry',
                                  enquiry.id
                                ]"
                              >
                                <i class="nav-link-icon fas fa-pen"></i>
                                <span> Edit</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link dangered fw-semibold"
                                (click)="deleteEnquiry(enquiry.id)"
                              >
                                <i
                                  class="nav-link-icon fas fa-trash dangered"
                                ></i>
                                <span> Delete</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link dangered fw-semibold"
                                (click)="rejectEnquiry(enquiry.id)"
                              >
                                <i
                                  class="nav-link-icon fa fa-ban dangered"
                                ></i>
                                <span> Reject</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div
                    class="dataTables_info"
                    id="order-listing_info"
                    role="status"
                    aria-live="polite"
                  ></div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div
                    class="dataTables_paginate paging_simple_numbers"
                    id="order-listing_paginate"
                  >
                    <ul class="pagination">
                      <li
                        class="paginate_button page-item previous disabled"
                        id="order-listing_previous"
                      >
                        <a
                          aria-controls="order-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="previous"
                          tabindex="-1"
                          class="page-link"
                          >Previous</a
                        >
                      </li>
                      <li class="paginate_button page-item active">
                        <a
                          href="#"
                          aria-controls="order-listing"
                          role="link"
                          aria-current="page"
                          data-dt-idx="0"
                          tabindex="0"
                          class="page-link"
                          >1</a
                        >
                      </li>
                      <li
                        class="paginate_button page-item next disabled"
                        id="order-listing_next"
                      >
                        <a
                          aria-controls="order-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="next"
                          tabindex="-1"
                          class="page-link"
                          >Next</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
