<div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Enquiry List</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Registration Status</th>
              <th scope="col">IsActive</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let enquiry of enquirylist">
              <td>{{enquiry.name}}</td>
              <td>{{enquiry.email}}</td>
              <td>{{enquiry.phoneNumber}}</td>
              <td class="text-danger">{{enquiry.registrationStatus}}</td>
              <td>{{enquiry.isActive}}</td>

              <td>
                <button type="button" class="btn btn-success" [routerLink]="['/admin/updateenquiry',enquiry.id]" style="margin-right: 3px;"><i class="fas fa-edit"></i>Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteEnquiry(enquiry.id)"><i class="far fa-trash-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  