    <!-- <button class="btn btn-primary mt-2">
      <span class="nav-link-text">Logout</span>
    </button>
    <button class="btn btn-danger mt-2" routerLink="/academy/add-location">
      <span class="nav-link-text">Add Locations</span>
    </button>
    <button class="btn btn-success mt-2" routerLink="/academy/location-list">
      <span class="nav-link-text">view Location</span>
    </button> -->
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">Dashboard</div>
        </div>
      </div>
    
      <div class="tabs-animation">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="card mb-3 widget-chart gradient-bb">
              <div class="widget-chart-content">
                <div class="icon-wrapper ml-0 rounded">
                  <div class="icon-wrapper-bg bg-invert"></div>
                  <i class="lnr-laptop-phone text-white"></i>
                </div>
                <div class="widget-numbers text-white">
                  <span>$15,000</span>
                </div>
                <div
                  class="widget-subheading fsize-1 pt-2 opacity-10 text-white font-weight-bold"
                >
                  Weekly Sales
                </div>
                <div class="widget-description fw-bold opacity-8">
                  <span class="text-white pr-1">
                    <span class="pl-1">54.1%</span>
                  </span>
                  down last 30 days
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="card mb-3 widget-chart gradient-ww">
              <div class="widget-chart-content">
                <div class="icon-wrapper ml-0 rounded">
                  <div class="icon-wrapper-bg bg-invert"></div>
                  <i class="lnr-graduation-hat text-white"></i>
                </div>
                <div class="widget-numbers text-white"><span>45,756</span></div>
                <div
                  class="widget-subheading fsize-1 pt-2 opacity-10 text-white font-weight-bold"
                >
                  Weekly Orders
                </div>
                <div class="widget-description fw-bold opacity-8">
                  Decreased by
                  <span class="text-white pr-1">
                    <span class="pl-1">10%</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-xl-4">
            <div class="card mb-3 widget-chart gradient-pp">
              <div class="widget-chart-content">
                <div class="icon-wrapper ml-0 rounded">
                  <div class="icon-wrapper-bg bg-invert"></div>
                  <i class="lnr-diamond text-white"></i>
                </div>
                <div class="widget-numbers text-white">
                  <span>1,456</span>
                </div>
                <div
                  class="widget-subheading fsize-1 pt-2 opacity-10 text-white font-weight-bold"
                >
                  Visitors Online
                </div>
                <div class="widget-description fw-bold opacity-8">
                  Increased by
                  <span class="text-danger pr-1">
                    <span class="pl-1 text-white">17%</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      
    
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xl-12">
            <div class="mb-3 card">
              <div class="card-header-tab card-header">
                <div>Elements</div>
              </div>
              <div class="card-body">
                <div class="page-title-actions">
                  <div class="d-inline-block dropdown">
                    <button
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      class="btn-shadow dropdown-toggle btn btn-info"
                    >
                      <span class="btn-icon-wrapper pr-2 opacity-7"> </span>
                      Buttons
                    </button>
                    <div
                      tabindex="-1"
                      role="menu"
                      aria-hidden="true"
                      class="dropdown-menu dropdown-menu-left"
                    >
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link">
                            <i class="nav-link-icon lnr-inbox"></i>
                            <span> Inbox</span>
                            <div class="ml-auto badge badge-pill badge-secondary">
                              86
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link">
                            <i class="nav-link-icon lnr-book"></i>
                            <span> Book</span>
                            <div class="ml-auto badge badge-pill badge-danger">
                              5
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link">
                            <i class="nav-link-icon lnr-picture"></i>
                            <span> Picture</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a disabled class="nav-link disabled">
                            <i class="nav-link-icon lnr-file-empty"></i>
                            <span> File Disabled</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xl-12">
            <div class="mb-3 card">
              <div class="card-header-tab card-header">
                <div>Button</div>
              </div>
              <div class="card-body">
                <button
                  class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-primary"
                >
                  Primary
                </button>
                <button
                  class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-secondary"
                >
                  Secondary
                </button>
                <button
                  class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-success"
                >
                  Success
                </button>
                <button class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-info">
                  Info
                </button>
                <button
                  class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-warning"
                >
                  Warning
                </button>
                <button class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-danger">
                  Danger
                </button>
                <button class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-focus">
                  Focus
                </button>
                <button
                  class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-alternate"
                >
                  Alt
                </button>
                <button class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-light">
                  Light
                </button>
                <button class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-dark">
                  Dark
                </button>
                <button class="mb-2 mr-2 btn-hover-shine btn btn-shadow btn-link">
                  link
                </button>
              </div>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xl-12">
            <div class="mb-3 card">
              <div class="card-header-tab card-header">
                <div>Misc</div>
              </div>
              <div class="card-body">Content will come here</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="app-wrapper-footer">
      <div class="app-footer">
        <div class="app-footer__inner">
          <div class="app-footer-right">Copywright: Antern Technology :: 2024</div>
        </div>
      </div>
    </div>
    
    <div class="app-drawer-overlay d-none animated fadeIn"></div>
    