<div class="app-inner" *ngIf="showStdList">
  <div class="container">
    <div class="card custom-card overflow-auto">
      <div class="card-body font-manrope">
        <h4 class="card-title text-capitalize fs-5 mb-3">Students</h4>
        <div class="row">
          <div class="col-12">
            <div id="student-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <button class="btn btn-success bg-gradient" [routerLink]="['/academy/register-student']">
                    <i class="fas fa-plus mr-2"></i> Add Student
                  </button>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="student-listing_filter" class="dataTables_filter">
                    <label>
                      <input
                        type="search"
                        [(ngModel)]="searchText"
                        (input)="filterStudents($event)"
                        class="form-control"
                        placeholder="Search students"
                        aria-controls="student-listing"
                      />
                    </label>
                  </div>
                </div>
              </div>

              <table
                id="student-listing"
                class="table dataTable no-footer"
                aria-describedby="student-listing_info"
                
              >
                <thead>
                  <tr>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Name: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                      Name
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Email: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                      Email
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Phone Number: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                      Phone Number
                    </th>
                  
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Email: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                    Address
                    </th>
                      
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Email: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                    DOB
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Email: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                      City
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="IsActive: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                    State
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Email: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                    Country
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Email: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                      IsActive
                    </th>
                    <th
                      rowspan="1"
                      colspan="1"
                      aria-label="Actions: activate to sort column descending"
                      style="width: 76.8375px"
                    >
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of filteredStudentList">
                    <td>{{ student.name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phoneNumber }}</td>
                    <td>{{ student.address}}</td>
                    <td>{{ student.dateOfBirth | date }}</td>
                    <td>{{ student.cityName }}</td>
                    <td>{{ student.stateName }}</td>
                    <td>{{ student.countryName }}</td>
                    <td>
                      <span [ngClass]="student.isActive ? 'chip chip-success' : 'chip chip-danger'">
                        {{ student.isActive ? 'Active' : 'Inactive' }}
                      </span>
                    </td>
                    <td>
                      <div class="d-inline-block dropdown">
                        <button
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          title="Row Options"
                          class="dropdown-toggle btn btn-success after-none squared-btn"
                        >
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div
                          tabindex="-1"
                          role="menu"
                          aria-hidden="true"
                          class="dropdown-menu dropdown-menu-left"
                        >
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a
                                class="nav-link fw-semibold"
                                [routerLink]="['/academy/update-student', student.id]"
                              >
                                <i class="nav-link-icon fas fa-pen"></i>
                                <span> Edit</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link dangered fw-semibold"
                                (click)="deleteStudent(student.id)"
                              >
                                <i class="nav-link-icon fas fa-trash dangered"></i>
                                <span> Delete</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            
              <div class="row">
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="student-listing_paginate">
                    <ul class="pagination">
                      <li class="paginate_button page-item previous disabled" id="student-listing_previous">
                        <a
                          aria-controls="student-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="previous"
                          tabindex="-1"
                          class="page-link"
                          >Previous</a
                        >
                      </li>
                      <li class="paginate_button page-item active">
                        <a
                          href="#"
                          aria-controls="student-listing"
                          role="link"
                          aria-current="page"
                          data-dt-idx="0"
                          tabindex="0"
                          class="page-link"
                          >1</a
                        >
                      </li>
                      <li class="paginate_button page-item next disabled" id="student-listing_next">
                        <a
                          aria-controls="student-listing"
                          aria-disabled="true"
                          role="link"
                          data-dt-idx="next"
                          tabindex="-1"
                          class="page-link"
                          >Next</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
<div *ngIf="showNoContent" class="text-center my-5 p-5 border rounded" style="background-color: #f8f9fa;">
    <i class="fas fa-exclamation-circle fa-3x text-muted mb-3"></i>
    <h4 class="text-muted">No data found</h4>
  </div>
</div>