<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-xl-6">
        <form #changePasswordForm="ngForm" method="POST" class="register-form ajax-contact">
          <h5 class="form-title">change password</h5>
          <div class="row">
            <div class="form-group style-3">
                <label>Old Password *</label>
                <input
                  type="password"
                  class="form-control style-white"
                  name="oldPassword"
                  #oldpassword="ngModel"
                  [(ngModel)]="changePasswordModel.oldPassword"
                  placeholder=""
                  [class.is-invalid]="oldpassword.touched && oldpassword.invalid"
                  required
                /><i class="far fa-eye-slash" aria-hidden="true"></i>
                <div *ngIf="oldpassword.touched && oldpassword.invalid" class="error-message">
                  <div *ngIf="oldpassword.errors?.['required']">
                     old password is required
                  </div>
                  </div>
             
              </div>
             
              <div class="form-group style-3">
                <label> New Password *</label>
                <input
                  type="password"
                  class="form-control style-white"
                  name="newPassword"
                  #newpassword="ngModel"
                  [(ngModel)]="changePasswordModel.newPassword"
                  placeholder=""
                  [class.is-invalid]="newpassword.touched && newpassword.invalid"
                  required
                /><i class="far fa-eye-slash" aria-hidden="true"></i>
                <div *ngIf="newpassword.touched && newpassword.invalid" class="error-message">
                  <div *ngIf="newpassword.errors?.['required']">
                      New password is required
                  </div>
                  </div>
             
              </div>
              <div class="form-group style-3">
                <label>confirm Password *</label>
                <input
                  type="password"
                  class="form-control style-white"
                  name="confirmPassword"
                  #confirmpassword="ngModel"
                  [(ngModel)]="changePasswordModel.confirmPassword"
                  placeholder=""
                  [class.is-invalid]="confirmpassword.touched && confirmpassword.invalid"
                  required
                /><i class="far fa-eye-slash" aria-hidden="true"></i>
                <div *ngIf="confirmpassword.touched && confirmpassword.invalid" class="error-message">
                  <div *ngIf="confirmpassword.errors?.['required']">
                      confirm password is required
                  </div>
                  </div>
             
              </div>
  
  
            <div class="form-btn col-12 text-center">
              <button class="th-btn black-btn-2 w-100" (click)="changeMyPassword()">
               <app-spinner *ngIf="loadSpinner"></app-spinner> change password</button>
            </div>
          </div>
          <p class="form-messages mb-0 mt-3"></p>
        </form>
      </div>
    </div>
  </div>